* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 350px;
}

.container .header,
.container .footer {
  background-color: #4582ec;
  height: 50px;
}

.container .header h1 {
  font-weight: 600;
  padding-left: 5px;
  color: whitesmoke;
}

.container .content {
  flex: 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 350px;
  height: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 3px;
}

.form .toggle {
  display: flex;
  margin: 1px 2px 0px;
}

.form .toggle button {
  flex: 1;
  background-color: #4582ec;
  color: white;
  border-style: none;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.form .toggle button:focus {
  border: 2px solid black;
}

.form .simple-interest-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form .compound-interest-form {
  display: none;
  flex-direction: column;
  height: 100%;
}

.simple-interest-form label,
.compound-interest-form label {
  font-size: 25px;
  font-weight: 600;
  margin-left: 5px;
}

.simple-interest-form input[type='number'],
.compound-interest-form input[type='number'] {
  height: 35px;
  background-color: transparent;
  padding-left: 3px;
  border-radius: 3px;
}

.simple-interest-form input[type='submit'],
.simple-interest-form input[type='reset'],
.compound-interest-form input[type='submit'],
.compound-interest-form input[type='reset'] {
  margin: 5px 1px auto;
  font-weight: 600;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  flex: 1;
  padding: 3px;
  cursor: pointer;
}

.simple-interest-form .submitreset,
.compound-interest-form .submitreset {
  display: flex;
}

.simple-interest-form input[type='submit']:hover,
.simple-interest-form input[type='reset']:hover,
.compound-interest-form input[type='submit']:hover,
.compound-interest-form input[type='reset']:hover {
  background-color: #4582ec;
  color: whitesmoke;
}

.container .footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.container .footer h3 {
  flex-shrink: 0;
}
.container .footer .icon:hover {
  font-weight: 700;
  font-size: x-large;
}

.form .simple-interest-form #output,
.form .compound-interest-form #coutput {
  margin-top: auto;
}
